#{extends 'CRUD/layout.html' /}
<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/fckeditor/fckeditor.js'}" type="text/javascript" charset="utf-8"></script>
	
<div id="crudBlank" class="${type.name}">
	
	<h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@create(), enctype:'multipart/form-data'}
		#{crud.form}			 
			 #{crud.custom 'content'}
				<textarea name="object.content" rows="10" cols="80" style="width: 100%; height: 400px"></textarea>
			 #{/crud.custom}
		#{/crud.form}

		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
			<input type="submit" name="_saveAndAddAnother" value="&{'crud.saveAndAddAnother', type.modelName}" />
		</p>
	#{/form}
	</div>

</div>
	<script type="text/javascript" charset="utf-8">
		$().ready(function() {
			var oFCKeditor = new FCKeditor( 'object.content','100%','400px' ) ;
			oFCKeditor.BasePath	= '/public/fckeditor/' ;
			oFCKeditor.ReplaceTextarea() ;
		})
	</script>
