#{extends 'CRUD/layout.html' /}
<script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" language="javascript"  src="@{'/public/elrte/js/elrte.min.js'}"></script>
<script type="text/javascript" language="javascript"  src="@{'/public/elrte/js/jquery-ui-1.7.2.custom.min.js'}"></script>
<script src="@{'/public/elrte/js/i18n/elrte.zh.js'}" type="text/javascript" charset="utf-8"></script>
<script src="@{'/public/elfinder/js/elfinder.min.js'}" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="@{'/public/elrte/js/ui-themes/base/ui.all.css'}" type="text/css" media="screen" charset="utf-8">
<link rel="stylesheet" href="@{'/public/elrte/css/elrte.full.css'}" type="text/css" media="screen" title="elRTE" charset="utf-8">
<link rel="stylesheet" href="@{'/public/elfinder/css/elfinder.css'}" type="text/css" media="screen" title="elRTE" charset="utf-8">




<div id="crudShow" class="${type.name}">
	
	<h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
	<div class="objectForm">
	#{form action:@save(object.id), enctype:'multipart/form-data'}
		#{crud.form}			 
			 #{crud.custom 'content'}
			 	<textarea cols="80" id="editor" name="object.content" rows="10">${object.content}</textarea>
			 #{/crud.custom}
		#{/crud.form}
		<p class="crudButtons">
			<input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
			<input type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
		</p>
	#{/form}
	</div>
	
	#{form @delete(object.id)}
		<p class="crudDelete">
			<input type="submit" value="&{'crud.delete', type.modelName}" />
		</p>
	#{/form}

</div>
	<script type="text/javascript" charset="utf-8">
		$().ready(function() {
			var opts = {
				cssClass : 'el-rte',
				lang     : 'zh',
				height   : 450,
				toolbar  : 'maxi',
				fmAllow  : true,
				cssfiles : ['@{'/public/elrte/css/elrte-inner.css'}'],
				fmOpen : function(callback) {
					$('<div id="myelfinder" />').elfinder({
					   url : '@{Connector.cmd()}',
					   lang : 'ru',
					   dialog : { width : 900, modal : true, title : 'Files' }, // open in dialog window
					   closeOnEditorCallback : true, // close after file select
					   editorCallback : callback     // pass callback to file manager
				   })
				}

			}
			$('#editor').elrte(opts);
		})
	</script>
