#{extends 'templates/obsess/obsess.html' /}
	#{includeArticle code:'welcome' } #{/includeArticle}
	

<div class="mc0102" style='width:705px;margin-left:0px;height:auto;padding-bottom:10px;'> 
<img alt="" src="/public/obsess/image/img_155.jpg" class="r0101"> 
<img alt="" src="/public/obsess/image/img_157.jpg" class="r0102"> 
<img alt="" src="/public/obsess/image/img_207.jpg" class="r0103"> 
<img alt="" src="/public/obsess/image/img_209.jpg" class="r0104">
    <div class="mcl">
      <div class="mcl01">推荐产品 </div>
      <div class="mcl02">
      	#{articles menu:'recommend', as:'a'}
      		<div style='display:block;float:left;margin:4px;text-align:center;'>
      			<img src='${a.titlepic}'/><br/>
      			${a.title}
      		</div>
      	#{/articles}
	  </div>
    </div>
  </div>