<script language="JavaScript" type="text/javascript">
<!--
function AddFavorite(sURL, sTitle)
{
    try
    {
        window.external.addFavorite(sURL, sTitle);
    }
    catch (e)
    {
        try
        {
            window.sidebar.addPanel(sTitle, sURL, "");
        }
        catch (e)
        {
            alert("加入收藏失败，请使用Ctrl+D进行添加");
        }
    }
} 

// -->
</script>

    <div id="templatemo_background_section_top">
    
    	<div class="templatemo_container" >
        	<div id="templatemo_logo_section" style='background:url(/public/obsess/image/head_bg.png) no-repeat; padding: 0px 0;margin:0px 0 0px;width:950px;height:105px;'>
<div style="top: 2px; position: relative; left: 300px;">
	<embed height="105" width="650" align="middle" type="application/x-shockwave-flash" salign="" allowscriptaccess="sameDomain" allowfullscreen="false" menu="false" name="banner"
	 bgcolor="#ffffff" devicefont="false" wmode="transparent" scale="showall" loop="true" play="true" 
	 pluginspage="http://www.adobe.com/go/getflashplayer_cn" quality="high" src="/public/obsess/image/banner.swf">
</div>
            </div>
         

            <div id="templatemo_menu_section" class="jquerycssmenu">
        #{menus position:'main'}
			<ul>
			#{list items:menus, as:'m'}
			  <li><a target="_blank" #{if m.code == current?.code} class="current"#{/if} href="#{url menu:m/}">${m.title}</a>
					#{if m.children.size() > 0}
						<ul>
						#{list items:m.children, as:'c'}
							<li><a target="_blank" href="#{url menu:c/}">${c.title}</a></li>
						#{/list}
						</ul>
						#{/if}
			  </li>
			#{/list}
		  </ul>
		#{/menus} 
			<p >
		        <script>
				
var today=new Date()
var weekday=new Array(7)
weekday[0]="星期日"
weekday[1]="星期一"
weekday[2]="星期二"
weekday[3]="星期三"
weekday[4]="星期四"
weekday[5]="星期五"
weekday[6]="星期六"
var y=today.getFullYear();
var m=today.getMonth() + 1;
var d=today.getDate();
var day = today.getDay()
document.write("今天是：" + (y) +"年" + m+"月" + d +"日 " + weekday[day])


</script>
</p>

		<br style="clear: left" />
			</div>


        </div>
    </div><!-- End Of Top Background -->
    
<script>
jquerycssmenu.buildmenu("templatemo_menu_section", arrowimages)

$(window).scroll(function()
{
  $('#message_box').animate({top:( $(window).scrollTop()+120)+"px" },{queue: false, duration: 350});
});

</script>    

<style>
#message_box {
	position: absolute;
	top: 120; left: 0;
	z-index: 10;
	background:#ffc;
	padding:5px;
	border:1px solid #CCCCCC;
	text-align:center;
	font-weight:bold;
	width:100px;
}
</style>

<div id="message_box">
    
近日网站维护，给您带来不便之处敬请谅解!
</div>
