

            <div id="templatemo_middle_section" style='margin:0px;'>
#{if nav}
	#{get 'nav'/}
#{/if}
#{ifnot nav}            
            	<div class="templatemo_middle_section_box">
                	<h1>代理品牌</h1>
					<ul>
              #{articles as:'a',menu:'coop',count:100}
              	#{if a.titlepic}
              	<li style='line-height:22px;margin-top:12px;' >
              		<a href="@{Application.viewById(a.id)}">
              		<img src='${a.titlepic}' style="border:0px;width: 60px;height:24px;"/></a>
	              	<a href="@{Application.viewById(a.id)}">${a.title}</a></li>
              	#{/if}
              	#{ifnot  a.titlepic}
              		<li><a href="@{Application.viewById(a.id)}">${a.title}</a></li>
	            #{/ifnot}
              #{/articles}
					</ul>
                </div>

#{/ifnot}                
                
                <div class="templatemo_middle_section_box">
                <h1>联系我们</h1>
                #{includeArticle code:'contacts'/}
                </div>
            
            </div><!-- End Of Middle Section -->