#{extends 'templates/orange/orange.html' /}

#{set 'mainContent' }
<table>
<tr>
<td valign=top>
			<div id="templatemo_left_section" style="margin:0 0 0 15px;">
            
           	  <div class="templatemo_left_section_box">
					#{article code:'welcome' }
               	  <div class="templatemo_left_section_box_top">${article.title}</div>
                    <div class="templatemo_left_section_box_body">
						 ${article.content.raw()}

                    </div>
					#{/article}
              </div>
                
				
                <div class="templatemo_left_section_box" style="margin-top: 15px;">
				#{articles menu:'news',count:10,as:'article'}				
                	<div class="templatemo_left_section_box_top">最近新闻</div>
                  <div class="templatemo_left_section_box_body" style="padding-top:5px;">
                   	<ul>
				#{articles as:'a',menu:'news',count:5}
				    <li><a href="@{Application.viewById(a.id)}">${a.title}</a></li>
				#{/articles}
				  </ul>
					</div>
				#{/articles}	  
                </div>

<td valign=top>
            
             <div id="templatemo_right_section" style='margin-right:0px;'>
            
            	<div class="templatemo_right_section_box">
                	<h1>百特报道</h1>

	<object id="player" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" name="player" width="300" height="280">
		<param name="movie" value="/public/mediaplayer/player.swf" />
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="flashvars" value="file=/public/mediaplayer/intro.flv&image=preview.jpg&autostart=true&repeat=always&logo.hide=true" />
		<embed
			type="application/x-shockwave-flash"
			id="player2"
			name="player2"
			src="/public/mediaplayer/player.swf" 
			width="300" 
			height="280"
			allowscriptaccess="always" 
			allowfullscreen="true"
			flashvars="file=/public/mediaplayer/intro.flv&image=preview.jpg&autostart=true&repeat=always&logo.hide=true" 
		/>
	</object>					
                	
                </div>
                
			<div class="templatemo_right_section_box">
               		<h1>集团链接</h1>
                	<ul>
				    <li><a href="/">杭州百特科技有限公司</a></li>
				    <li><a href="#">北京天三通科技有限公司</a></li>
				    <li><a href="#">福建省贝斯特流体科技有限公司</a></li>
				    <li><a href="#">深圳百特流体控制工程有限公司</a></li>
				    <li><a href="#">成都百特节能工程技术有限公司</a></li>
				    <li><a href="#">石家庄（百特）建材有限公司</a></li>
				  </ul>
            </div>
                
            </div><!-- End Of right Section -->
</td>
</tr>            
</table>
#{/set}

#{set 'scroller'}
<table style="width:100%">
<tr> <td colspan="2" valign="top">               
				 <div class="templatemo_left_section_box" style="margin-top: 5px;width:950px">
					<div class="templatemo_left_section_box_top" style="width:100%;">产品</div>
                    <div class="templatemo_left_section_box_body" style="width:100%;height:160px;padding-top:2px;">
                    
                    <div id="scroller_container">
 						<div class="jscroller2_left jscroller2_mousemove jscroller2_speed-40" style="font-size:12px; margin: 0;">
 						<table border="0" cellpadding="0">
 						<tr>
						      	#{articles menu:'recommend', as:'a',count:20}      		
						      	<td>		<div style='display:block; float:left; margin:4px; text-align:center; border:1px solid gray; width:130px;  height:150px;'>
						      			<a href="@{Application.viewById(a.id)}"><img style="float:none; margin-bottom:0px; border:0px;" src='${a.titlepic}'/></a><br/>
						      			<a href="@{Application.viewById(a.id)}">${a.title}</a>
						      		</div> </td>
						      	#{/articles}
							</tr>						      	
						 </table>
						</div>
					</div>
     				<style>
/* Scroller Box */
#scroller_container {
 width: 930px;
 height: 160px;
 overflow: hidden;
}
/* Scoller Box */

      				
     				</style>
                    
                   </div>
              </div>
				
            </div><!-- End Of left Section -->
            
  
</td>
</tr>

</table>
#{/set}