#{extends 'templates/orange/orange.html' /}


<script src="@{'/public/javascripts/jquery.simpletip-1.3.1.js'}" type="text/javascript" charset="utf-8"></script>


<style>
.tooltip{ 
	position: absolute; 
	top: 0; left: 0; z-index: 300; display: none; }
</style>

#{set 'mainContent' }
<div id="templatemo_left_section" style="margin:0 0 0 15px">
	 <div class="templatemo_left_section_box">
    	<div class="templatemo_left_section_box_top" style="width:720px;">${article.title}</div>
        <div class="templatemo_left_section_box_body"  style="width:720px;">
			${article.content.raw()}
		</div>
	</div>
</div>
#{/set}
<script>
$().ready(function(){

//$("#hangzhou").simpletip({  
//	content: 'My Simpletip',
// 	fixed: false });

});


</script>